.textoprincipal{
    font-family: Arial, Helvetica, sans-serif;
    top: 10px;
    width: 300px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.localizacao{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 900px;
    top: 470px;
    
}

.endereco{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 788px;
    top: 500px;
}


.arredondar{
    clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 15%;
}

.arredondar{
    float: right;
    position: absolute;
    right: 10px;
    top: 200px;
}


.imagemdomixacai{
    clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 10%;

}
.imagemdomixacai{
    position: absolute;
    left: 1070px;
    top: 10px;

}

.imagemdomixacai1{
    position: absolute;
    clip-path: circle(35% at 35% 35%);
    clip-path: circle(35% at 40% 35%);
    width: 27%;
    top: 200px;
}

.imagemdomixacai2{
    position: absolute;
    clip-path: circle(35% at 35% 35%);
    clip-path: circle(35% at 40% 35%);
    width: 27%;
    left: 20px;
    top: 495px;   
}

.imagemdomixacai3{
    position: absolute;
    clip-path: circle(35% at 35% 35%);
    clip-path: circle(35% at 40% 35%);
    width: 29%;
    left: 353px;
    top: 478px; 
} 

.imagemdomixacai4{
    position: absolute;
    clip-path: circle(40% at 40% 40%);
    clip-path: circle(40% at 40% 40%);
    width: 27%;
    left: 350px;
    top: 200px; 
}

.whatsapp{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 980px;
    top: 400px;

}


.cardapio{
    position: fixed;
    left: 0;
    position: absolute;
    left: 870px;
    top: 350px;

}

.fdp{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 870px;
    top: 200px;
}
   